.border-normal{
    border-radius: $radius-small;
    border: $border-normal;
}
.border-big{
    border-radius: $radius-big;
    border: $border-normal;
}

.border-normal:hover{
    border-color: $normal;
}
.border-big:hover{
    border-color: $normal;
}

.border-normal-nohovr{
    border-radius: $radius-small;
    border: $border-normal;
}
.border-big-nohovr{
    box-sizing: border-box;
    border-radius: $radius-big;
    border: $border-normal;
}

.border-rounded{
    border-radius: $radius-rounded;
}