// radius
$radius-big: 10px;
$radius-small: 4px;
$radius-rounded: 40px;

//colors
$very-light: #d0dfff;
$partially-light: #c1d4fb;
$light: #a8c2fb;
$normal: #86abf9;
$dark: #6893ee;
$darker: #5d86de;

// borders
$border-normal: 4px solid $darker;

// imports
@import 'buttons';
@import 'containers';
@import 'misc';
@import 'rot';
@import 'border';
@import 'global';
@import 'special';