// radius
$radius-big: 10px;
$radius-small: 4px;

//colors
$very-light: #d0dfff;
$partially-light: #c1d4fb;
$light: #a8c2fb;
$normal: #86abf9;
$dark: #6893ee;

@import 'buttons';

.fld-container{
    display: inline-block;
    background-color: #c1d4fb;
    border-radius: $radius-big;
    padding: 10;
    width: auto;
    margin: 5px;
}