// tilt
.f-tilt:hover{
    transform: rotate(2deg);
}

.f-tilt-i:hover{
    transform: rotate(-2deg);
}

.f-tilt-big:hover{
    transform: rotate(5deg);
}

.f-tilt-big-i:hover{
    transform: rotate(-5deg);
}

// zoom
.f-zoom {
    transition: transform .2s;
}
  
.f-zoom:hover {
transform: scale(1.05);
}