.f-border-normal{
    border-radius: $radius-small !important;
    border: $border-normal !important;
}
.f-border-big{
    border-radius: $radius-big;
    border: $border-normal !important;
}

.f-border-normal:hover{
    border-color: $normal !important;
}
.f-border-big:hover{
    border-color: $normal !important;
}

.f-border-normal-nohovr{
    border-radius: $radius-small !important;
    border: $border-normal !important;
}
.f-border-big-nohovr{
    border-radius: $radius-big !important;
    border: $border-normal !important;
}

.f-border-rounded{
    border-radius: $radius-rounded !important;
}