.f-border-normal{
    border-radius: $radius-small;
    border: $border-normal;
}
.f-border-big{
    border-radius: $radius-big;
    border: $border-normal;
}

.f-border-normal:hover{
    border-color: $normal;
}
.f-border-big:hover{
    border-color: $normal;
}

.f-border-normal-nohovr{
    border-radius: $radius-small;
    border: $border-normal;
}
.f-border-big-nohovr{
    border-radius: $radius-big;
    border: $border-normal;
}

.f-border-rounded{
    border-radius: $radius-rounded;
}