@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// font stacks
$font-stack-basic: 'Roboto', sans-serif;

// radius
$radius-big: 10px;
$radius-mid: 6px;
$radius-small: 4px;
$radius-rounded: 40px;

//colors
$very-light: #d0dfff;
$light: #a8c2fb;
$normal: #86abf9;
$dark: #6893ee;
$darker: #5d86de;

// borders
$border-normal: 4px solid $darker;
$border-thin: 3px solid $darker;

// imports
@import 'buttons';
@import 'containers';
@import 'misc';
@import 'border';
@import 'global';
@import 'img';
@import 'animations';